@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background-image: url("https://github.com/cxindyli/portfolio/blob/master/gradient.jpg?raw=true");
}

h1 {
  font-style: italic;
  font-size: 50px;
  color: #597BA2;
}

p {
  color: #230A53;
}

