@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background-image: url("https://github.com/cxindyli/portfolio/blob/master/gradient.jpg?raw=true");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bigheading {
  font-size: 75px;
  color: #4D0C2D;
}

.hobbyheading {
  color: #B34485;
}

.musicheading {
  color: #4492B3;
}

h1 {
  font-style: italic;
  font-size: 50px;
  border: 5px dotted red;
}

p {
  color: #230A53;
}

.pikabob {
  width: 45%;
}

.navbar {
  overflow: hidden;
  background-color: #724B7C;
}

.navbar a {
  float: left;
  display: block;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

.navbar a:hover {
  background-color: #FFA2B4;
  color: #000000;
}

.navbar a.active {
  background-color: #FFFFFF;
  color: Black;
}

